@import "tailwindcss";
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  
  --color-backgroundCat: #1a1e2d;
  --color-green: #a5ea9b;
  --color-pink: #ff61d8;
  --color-blue: #569cfa;
  --color-orange: #ffcc81;
  --color-cyan: #7ed1e2;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
